@mixin hero-animation($animation-name) {
  @keyframes hero-h1-reveal {
    0% {
      opacity: 0;
      transform: scale(0.975);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes hero-copy-reveal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @if ($animation-name == "h1") {
    animation: hero-h1-reveal 1s ease-out;

    @include no-motion {
      animation-name: hero-copy-reveal;
    }
  }

  @if ($animation-name == "copy") {
    animation: hero-copy-reveal 500ms 500ms ease-out both;
  }

  animation-play-state: var(--hero-animation-state, running);
}
