@mixin hero-animation($animation-name) {
  @if ($animation-name == "h1") {
    @keyframes hero-h1-reveal {
      0% {
        opacity: 0;
        transform: scale(0.975);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    animation: hero-h1-reveal 1s ease-out;
  }

  @if ($animation-name == "copy") {
    @keyframes hero-copy-reveal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    animation: hero-copy-reveal 500ms 500ms ease-out both;
  }
}
