$color-kickpush-red: #ee5050;
$color-kickpush-dark-red: #cf3d3d;
$color-kickpush-white: #ffffff;
$color-kickpush-black: #212121;

$font-family-heading: "kickpush-headings";
$font-family-body: "circular";

$font-stack-heading: $font-family-heading, "sans-serif";
$font-stack-body: $font-family-body, "sans-serif";

$font-weight-book: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;

$font-weight-heading: 600;

$bp-mobile: 420;
$bp-tablet: 768;
