@use "sass:math";

@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

@mixin min-width($min-width-pixels) {
  $min-width-em: math.div($min-width-pixels, 16);

  @media screen and (min-width: #{$min-width-em}em) {
    @content;
  }
}

@mixin max-width($max-width-pixels) {
  $max-width-em: math.div($max-width-pixels - 1, 16);

  @media screen and (max-width: #{$max-width-em}em) {
    @content;
  }
}

@mixin min-max-width($min-width-pixels, $max-width-pixels) {
  $min-width-em: math.div($min-width-pixels, 16);
  $max-width-em: math.div($max-width-pixels - 1, 16);

  @media screen and (min-width: #{$min-width-em}em) and (max-width: #{$max-width-em}em) {
    @content;
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
