@import "../../sass/global";

$image-blur-duration: 100ms;

.Image {
  display: block;
  position: relative;

  img,
  picture {
    border-radius: inherit;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    filter: blur(#{rem(40)});
    transition: filter $image-blur-duration ease-in-out;

    &:not([src]) {
      opacity: 0;
    }
  }

  &-loaded {
    img {
      filter: none;
    }
  }

  &-cover,
  &-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-contain {
    img {
      object-fit: contain;
    }
  }

  &-regular {
    background: $color-kickpush-dark-red;
    border-radius: $border-radius-small;
  }
}
