@import "../../sass/global";

.Title,
.Subtitle {
  @include min-width($bp-unstack-cards) {
    max-width: 50%;
  }
}

.Title {
  margin-top: auto;
  margin-bottom: -0.1em;
  position: relative;

  > span {
    position: relative;
  }

  @include max-width($bp-unstack-cards) {
    &::before {
      mask: linear-gradient(rgba(black, 0), black);
      content: "";
      position: absolute;
      top: calc(var(--card-padding) * -1);
      left: calc(var(--card-padding) * -1);
      right: calc(var(--card-padding) * -1);
      bottom: calc(var(--card-padding) * -1);
      background: var(--card-background, #{$color-kickpush-red});
    }
  }
}

.Subtitle {
  @include min-width($bp-tiny) {
    > span {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.Play {
  --button-icon-size: #{rem(18)};

  aspect-ratio: 1 / 1;
  border-radius: $border-radius-small;
  margin: auto;
  width: var(--button-size);
  pointer-events: none;

  svg {
    margin-left: rem(2);
  }

  @include min-width($bp-unstack-cards) {
    --button-size: #{rem(72)};
    --button-icon-size: #{rem(23)};

    position: absolute;
    left: 75%;
    top: 50%;
    margin: calc(var(--button-size) / -2);
  }

  @include min-width($bp-desktop) {
    --button-size: #{rem(88)};
    --button-icon-size: #{rem(28)};
  }
}
