@import "../../sass/global";

.Wrapper {
  text-align: center;
  margin-top: var(--section-space);
  margin-bottom: var(--section-space);

  &-inView {
    --reveal-animation-state: running;
  }

  @include min-width($bp-mobile) {
    margin-top: rem(120);
  }

  @include min-width($bp-tablet) {
    margin-top: rem(240);
  }
}
.Short {
  @include reveal-animation("copy");

  color: $color-kickpush-dark-red;
  animation-delay: 0ms;

  @include high-contrast {
    color: $color-kickpush-dark-red-high-contrast;
  }
}
.Long {
  @include reveal-animation("heading");

  margin-bottom: 0;
}
