@import "../../sass/global";

.Wrapper {
  --reveal-animation-state: paused;

  margin-top: var(--section-space);
  margin-bottom: var(--section-space);

  &-inView {
    --reveal-animation-state: running;
  }
}
.Short {
  @include reveal-animation("copy");

  color: $color-kickpush-dark-red;
  animation-delay: 0ms;

  @include high-contrast {
    color: $color-kickpush-dark-red-high-contrast;
  }
}
.Long {
  @include reveal-animation("heading");

  margin-bottom: 0;
}
