@use "sass:math";

@import "../../sass/global";

.Card {
  @include card-shadow();

  --card-padding: #{rem(16)};

  color: $color-kickpush-white;
  border-radius: rem(10);
  display: block;
  margin: 0 auto;
  max-width: rem(320);
  padding: var(--card-padding);
  position: relative;
  text-align: left;
  width: 100%;

  &-light {
    color: $color-kickpush-white;
  }
  &-dark {
    color: $color-kickpush-black;
  }

  @include min-width($bp-nuclear) {
    --card-padding: #{rem(24)};

    aspect-ratio: 440 / 496;
  }

  @include min-width($bp-mobile) {
    max-width: rem(360);
  }

  @include min-width($bp-unstack-cards) {
    max-width: none;

    &-large {
      --card-padding: var(--gutter);

      aspect-ratio: 940 / 496;
    }
  }

  @include min-width($bp-tablet) {
    &-small {
      --card-padding: #{rem(32)};
    }
  }
}

.Reveal {
  opacity: 0;
  transform: scale(0.975);

  &-inView {
    transform: none;
    opacity: 1;
    transition: opacity math.div($duration-card-enter, 2) ease-out,
      transform $duration-card-enter $ease-out-back;
  }

  @include no-motion {
    transform: none;
  }
}

.CardsWrapper {
  align-items: stretch;
  display: grid;
  gap: var(--gutter);
  margin: 0 rem(-8);
  width: calc(100% + #{rem(16)});
  grid-template-columns: 100%;

  @include min-width($bp-tiny) {
    margin: 0 rem(-16);
    width: calc(100% + #{rem(32)});
  }

  @include min-width($bp-unstack-cards) {
    width: 100%;
    margin: 0;
  }

  &-columns {
    @include min-width($bp-unstack-cards) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
