@import "../../sass/global";

.Wrapper {
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(60);

  .Card {
    box-shadow: 0 rem(40) rem(60) rem(1) $color-kickpush-dark-red;
  }
}

.Card {
  border-radius: rem(10);
  display: grid;
  grid-template-rows: auto 1fr;
  padding: rem(32);
  text-decoration: none;

  &-light {
    color: $color-kickpush-white;
  }
  &-dark {
    color: $color-kickpush-black;
  }

  &-small {
    aspect-ratio: 440/496;
  }
  &-large {
    aspect-ratio: 1170/556;
  }
}
// .ClientName {

// }
.Year {
  margin-top: rem(8);
}
.Title {
  align-self: flex-end;
}
