@import "../../sass/global";

.Button {
  --button-icon-size: #{rem(16)};

  appearance: none;
  border: 0;
  color: $color-kickpush-white;
  cursor: pointer;
  background: $color-kickpush-dark-red;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--button-size);
  padding: rem(4) rem(40);
  min-height: var(--button-size);
  font-size: rem(20);
  text-decoration: none;

  svg {
    height: var(--button-icon-size);
    width: var(--button-icon-size);
  }

  path {
    fill: currentColor;
  }
}

.Button {
  &-small {
    --button-size: #{rem(40)};

    font-size: rem(14);
    border-radius: $border-radius-small;

    @include min-width($bp-mobile) {
      font-size: rem(16);
    }
  }

  &-medium {
    --button-size: #{rem(54)};

    font-size: rem(16);
    border-radius: rem(10);

    @include min-width($bp-mobile) {
      font-size: rem(20);
    }
  }
}

.Button {
  &-ghost {
    border-radius: $border-radius-small;
    background: none;
    padding: 0;
    margin: calc((var(--button-icon-size) - var(--button-size)) / 2);
  }

  &-light {
    background: $color-kickpush-white;
    color: $color-kickpush-black;
  }

  &-dark {
    background: $color-kickpush-black;
    color: $color-kickpush-white;
  }
}

.BlockButton {
  width: 100%;
}

.IconButton {
  padding: 0;
}

.CloseButton {
  --button-icon-size: #{rem(18)};
}
