@import "../../sass/global";

.Info,
.Action {
  grid-row: 1;
  grid-column: 1;
  transition: $duration-card-action ease-in-out;
  margin: 0;
}

.Action {
  opacity: 0;
  transform: translateX(#{rem(-8)});
  padding-right: $action-icon-margin;

  svg {
    height: auto;
    width: $action-icon-size;
    transition: transform $duration-card-action ease-in;
    transition-property: transform, opacity;
  }

  path {
    fill: currentColor;
  }

  @include can-hover {
    a:not([data-disable-hover]):hover &,
    a:not([data-disable-focus]):focus & {
      opacity: 1;
      transition-delay: $duration-card-action;
      transform: none;

      svg {
        transform: translateX(0.25em);
        transition: transform $duration-card-image-in ease-out;
      }
    }
  }
}

.Info {
  transition-delay: $duration-card-action;

  @include can-hover {
    a:not([data-disable-hover]):hover &,
    a:not([data-disable-focus]):focus & {
      opacity: 0;
      transform: translateX(#{rem(8)});
      transition-delay: 0ms;
    }
  }
}

.Info,
.Action,
.Action svg {
  @include no-motion {
    transform: none !important;
  }
}
