@use "sass:math";

@import "../../sass/global";

.Card {
  --card-scale: #{math.div(420, 440)};

  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;
  transition: $duration-card-action ease-in-out;
  transition-property: box-shadow, transform;

  &:hover {
    @include card-shadow("hover");

    transform: scale(var(--card-scale));
  }

  &:active {
    @include card-shadow("active");

    transform: scale(var(--card-scale)) translateY(#{rem(4)});
  }

  &-large {
    @include min-width($bp-unstack-cards) {
      --card-scale: #{math.div(920, 940)};
    }
  }
}
