@import "../../sass/global";

.Card {
  @include min-max-width($bp-unstack-cards, $bp-tablet) {
    aspect-ratio: auto;
  }
}

.Title,
.Subtitle {
  @include min-width($bp-unstack-cards) {
    max-width: 50%;
  }
}

.Title {
  margin-top: auto;
  margin-bottom: -0.1em;
  position: relative;

  > span {
    position: relative;
  }

  @include max-width($bp-unstack-cards) {
    &::before {
      mask: linear-gradient(rgba(black, 0), rgba(black, 0.8) 20%, black);
      content: "";
      position: absolute;
      top: calc(var(--card-padding) * -2);
      left: calc(var(--card-padding) * -1);
      right: calc(var(--card-padding) * -1);
      bottom: calc(var(--card-padding) * -1);
      background: var(--card-background, #{$color-kickpush-red});
    }
  }
}
