@import "../../sass/global";

.Paragraph {
  display: block;
  white-space: pre-wrap;
  margin-bottom: 0.5em;
}

.Paragraph {
  &-huge {
    font-size: rem(24);
    line-height: rem(34);
  }
  &-big {
    font-size: rem(16);
    line-height: rem(22);
  }
  &-label {
    font-weight: $font-weight-bold;
    font-size: rem(14);
    line-height: rem(14);
  }
}
