@import "../../sass/global";

@value wrapperIndex: 98;

.Wrapper {
  position: relative;
  transition: transform $duration-project-show-card ease-out;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-hidden {
    opacity: 0;
    transition: opacity $duration-project-hide-other ease-out;
  }
}

.Card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-transitioning {
    box-shadow: transparent 0 0 0;
    border-radius: 0;
    transition: transform $duration-project-show-card $ease-in-back,
      border-radius 0ms $duration-project-show-card ease-out,
      box-shadow $duration-project-hide-other ease-out;

    > * {
      opacity: 0;
      transition: transform $duration-project-show-card $ease-in-back,
        opacity $duration-project-hide-other ease-out;
    }

    > :last-child {
      transform: var(--card-content-scale);
    }

    > :first-child {
      transform: var(--card-background-scale);
    }
  }
}

.Title {
  margin-top: auto;
  margin-bottom: -0.1em;
}
