@import "../../sass/global";

.Hero {
  --reveal-animation-state: running;

  margin: calc(var(--section-space) / 2) 0;
  width: 100%;

  &-noNav {
    margin-top: var(--section-space);
  }

  @include min-width($bp-mobile) {
    text-align: center;
  }

  h1 {
    @include reveal-animation("heading");
  }
}

.Title {
  @include reveal-animation("heading");

  margin-bottom: 0;

  &-large {
    @include min-max-width($bp-tiny, $bp-mobile) {
      font-size: rem(56);
      line-height: rem(60);
    }

    @include min-max-width($bp-mobile, $bp-tablet) {
      font-size: rem(64);
      line-height: rem(68);
    }
  }
}

.Copy {
  @include reveal-animation("copy");

  margin-top: 1em;
}

.Container {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
