@import "../../sass/global";

.Hero {
  margin: calc(var(--section-space) / 2) 0 var(--section-space);

  @include min-width($bp-mobile) {
    text-align: center;
  }

  h1 {
    @include min-max-width(320, $bp-mobile) {
      font-size: rem(56);
      line-height: rem(60);
    }
  }
}

.HeroCopy {
  margin-top: rem(20);
}
