@use "sass:math";

@import "../../sass/global";

.Photos {
  margin-bottom: var(--section-space);
}
.PhotosGrid {
  display: grid;
  gap: var(--gutter);

  @include min-width($bp-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}
.PhotosGridCell {
  aspect-ratio: 1 / 1;
  background: $color-kickpush-dark-red;
  border-radius: $border-radius-small;
  position: relative;
  padding: 0;

  @include min-width($bp-mobile) {
    display: block !important;
    grid-row: span 2;

    &:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    &:nth-of-type(2) {
      grid-row: 2 / span 2;
    }
  }

  @include min-width($bp-tablet) {
    aspect-ratio: 440 / 320;
  }
}
.PhotosGridYear {
  top: 1em;
  right: 1em;
  position: absolute;
  z-index: 2;
}
.PhotosGridCard,
.PhotosGridImage {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Manifesto {
  margin-bottom: var(--section-space);
}
.ManifestoItem {
  margin-top: var(--section-space);
}

.ArticlesTitle {
  margin-bottom: 1.25em; // TODO: Var
  margin-top: var(--section-space);

  @include min-width($bp-mobile) {
    text-align: center;
  }
}
