@import "../../sass/global";

.HeroTitle {
  margin-bottom: 0;
}
.HeroCopy {
  @include min-width($bp-tiny) {
    font-size: rem(24);
    line-height: rem(34);
  }
}

.Content {
  &-inView {
    --reveal-animation-state: running;
  }
}

.LargeTitle {
  @include reveal-animation("heading");
}

.ProjectsList {
  margin-bottom: var(--section-space);

  @include max-width($bp-unstack-cards) {
    // Hides all but the first 3 and the all projects cards
    > :nth-child(n + 4):not(:last-child) {
      display: none;
    }
  }
}
.ActionCardProjects {
  grid-column: 1 / -1;
}
