@import "../../sass/global";

.Photos {
  margin-bottom: rem(150);
}
.PhotosHeading {
  margin-bottom: rem(80);
}
.PhotosOutro {
  margin: rem(240) auto;
  text-align: center;
}

.Manifesto {
  margin-bottom: rem(240);
}
.ManifestoItem {
  margin-top: rem(120);
}
