@import "../global";

@value kickpushBlack: #{$color-kickpush-black};

.Close {
  position: fixed;
  top: rem(24);
  right: rem(24);
  z-index: 102;
  transition: 200ms ease-in-out;
  transition-property: opacity, transform;

  &-hidden {
    opacity: 0;
    transform: scale(0.8);
  }
}

.Main {
  margin-bottom: 0;

  &-light {
    --focus-ring: #{rgba($color-kickpush-white, 0.6)};

    color: $color-kickpush-white;
  }
  &-dark {
    color: $color-kickpush-black;

    --focus-ring: #{rgba($color-kickpush-black, 0.6)};
  }
}

.Layer {
  position: relative;
  z-index: 2;
}

.ContactSlide {
  @include max-width($bp-tablet) {
    height: auto;
  }
}
.Contact {
  padding-bottom: 0;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}
