@import "../../sass/global";

.Footer {
  margin: var(--section-space) auto;
}

.Heading {
  max-width: 11em;
  margin-bottom: var(--gutter);
}

.Email {
  margin-bottom: 0;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
