@import "../../sass/global";

.Footer {
  margin: var(--section-space) auto;
}

.Heading {
  max-width: 11em;
}

.Email {
  margin-top: rem(48);

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
