@import "../../sass/global";

.Heading {
  display: block;
  margin-bottom: 0.25em;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;

  @include min-width($bp-tiny) {
    white-space: pre-wrap;
  }
}

.Heading {
  &-h0 {
    font-size: calc((100vw - var(--gutter)) * 0.18);
    line-height: 1.1;
    color: $color-kickpush-dark-red;
    margin-bottom: 1.25em;

    @include min-width($bp-tiny) {
      font-size: rem(56);
      line-height: rem(60);
    }

    @include min-width($bp-mobile) {
      font-size: rem(72);
      line-height: rem(78);
    }

    @include min-width($bp-tablet) {
      font-size: rem(88);
      line-height: rem(93);
    }

    @include min-width($bp-desktop) {
      font-size: rem(104);
      line-height: rem(110);
    }
  }
  &-h1 {
    font-size: calc((100vw - var(--gutter)) * 0.15);
    line-height: 1.1;

    @include min-width($bp-tiny) {
      font-size: rem(40);
      line-height: rem(48);
    }

    @include min-width($bp-mobile) {
      font-size: rem(56);
      line-height: rem(60);
    }

    @include min-width($bp-tablet) {
      font-size: rem(72);
      line-height: rem(85);
    }
  }
  &-h2 {
    font-size: rem(24);
    line-height: rem(30);

    @include min-width($bp-mobile) {
      font-size: rem(40);
      line-height: rem(50);
    }

    @include min-width($bp-tablet) {
      font-size: rem(56);
      line-height: rem(70);
    }
  }
  &-h3 {
    font-size: rem(24);
    line-height: rem(30);

    @include min-width($bp-mobile) {
      font-size: rem(32);
      line-height: rem(40);
    }

    @include min-width($bp-tablet) {
      font-size: rem(40);
      line-height: rem(48);
    }
  }
  &-h4 {
    font-size: rem(24);
    line-height: rem(30);

    @include min-width($bp-mobile) {
      font-size: rem(28);
      line-height: rem(35);
    }

    @include min-width($bp-tablet) {
      font-size: rem(32);
      line-height: rem(42);
    }
  }
  &-h5 {
    font-size: rem(16);
    line-height: rem(22);

    @include min-width($bp-mobile) {
      font-size: rem(24);
      line-height: rem(30);
    }
  }
  &-h6 {
    font-size: rem(16);
    line-height: rem(22);
  }
}
