@import "../../sass/global";

.Slide {
  --hero-animation-state: paused;

  &-inView {
    --hero-animation-state: running;
  }
  min-height: 100vh;
}

.Content {
  margin-top: auto;
  margin-bottom: auto;

  > :last-child {
    margin-bottom: 0;
  }
}

.Title {
  @include hero-animation("h1");
}

.Copy {
  @include hero-animation("copy");
}
