@import "../../sass/global";

.Slide {
  --hero-animation-state: running;

  @include max-width($bp-tablet) {
    height: auto;
  }
}

.Content {
  margin-top: auto;
  margin-bottom: auto;

  > :last-child {
    margin-bottom: 0;
  }
}

.Title {
  @include hero-animation("h1");
}

.Copy {
  @include hero-animation("copy");
}
