@import "../../sass/global";

.Footer {
  --card-shadow-color: #{rgba(black, 0.1)};

  justify-content: center;
  z-index: 1;
  position: sticky;
  bottom: 0;

  @include max-width($bp-desktop) {
    overflow: visible;
    position: relative;
    z-index: 3;
  }

  @include max-width($bp-mobile) {
    min-height: 0;
  }

  @include min-width($bp-mobile) {
    padding-top: calc(var(--section-space) / 2);
    padding-bottom: calc(var(--section-space) / 2);
  }
}

// Privacy Policy code kept in case required at a later date
// .Container {
//   @include max-width($bp-desktop) {
//     margin-bottom: rem(24);
//   }
// }

// .PrivacyPolicy {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
// }
