@use "sass:math";

@import "../../sass/global";

@value breakpointMobileSlide: #{em($bp-tablet)};

.Slide {
  padding: 0;

  &-mobileContain {
    height: calc(var(--mobile-aspect-ratio) * 100vw);
  }
}

.Background {
  background-color: transparent;

  &-desktop {
    @include max-width($bp-mobile) {
      display: none;
    }
  }

  &-mobile {
    @include min-width($bp-mobile) {
      display: none;
    }
  }
}
