@import "../../sass/global";

.Footer {
  --card-shadow-color: #{rgba(black, 0.1)};

  justify-content: center;
  position: relative;
  bottom: 0;
  z-index: 3;
  min-height: 0;
  overflow: visible;

  @include min-width($bp-mobile) {
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
  }

  @include min-width($bp-desktop) {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 100vh;
    z-index: 1;
    position: sticky;
    overflow: hidden;
  }
}

// Privacy Policy code kept in case required at a later date
// .Container {
//   @include max-width($bp-desktop) {
//     margin-bottom: rem(24);
//   }
// }

// .PrivacyPolicy {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
// }
