@use "sass:math";

@import "../../sass/global";

.Slide {
  display: flex;
  flex-direction: column;
  padding: calc(var(--section-space) / 2) 0;
  position: relative;
  min-height: math.div(
      $mobile-project-slide-height,
      $mobile-project-slide-width
    ) * 100vw;
  overflow: hidden;

  @include min-width($bp-project-mobile-slide) {
    min-height: math.div(
        $desktop-project-slide-height,
        $desktop-project-slide-width
      ) * 100vw;
  }

  &-light {
    --focus-ring: #{$color-kickpush-white-focus-ring};

    background: $color-kickpush-black;
    color: $color-kickpush-white;
  }

  &-dark {
    --focus-ring: #{$color-kickpush-black-focus-ring};

    background: $color-kickpush-white;
    color: $color-kickpush-black;
  }
}
