@use "sass:math";

@import "../../sass/global";

$mobile-slide-height: 512;
$mobile-slide-width: 450;

$desktop-slide-height: 800;
$desktop-slide-width: 1440;

.Slide {
  display: flex;
  flex-direction: column;
  padding: calc(var(--section-space) / 2) 0;
  position: relative;
  min-height: math.div($mobile-slide-height, $mobile-slide-width) * 100vw;
  overflow: hidden;

  @include min-width($bp-project-mobile-slide) {
    min-height: math.div($desktop-slide-height, $desktop-slide-width) * 100vw;
  }

  &-light {
    --focus-ring: #{$color-kickpush-white-focus-ring};

    background: $color-kickpush-black;
    color: $color-kickpush-white;
  }

  &-dark {
    --focus-ring: #{$color-kickpush-black-focus-ring};

    background: $color-kickpush-white;
    color: $color-kickpush-black;
  }
}
