@use "sass:math";

@import "../../sass/global";

.Slide {
  display: flex;
  flex-direction: column;
  padding: calc(var(--section-space) / 2) 0;
  position: relative;
  min-height: math.div(635, 375) * 100vw;
  overflow: hidden;

  @include min-width($bp-mobile) {
    min-height: 100vw;
  }

  @include min-width($bp-tablet) {
    min-height: math.div(800, 1440) * 100vw;
  }

  @include min-width($bp-desktop) {
    min-height: 100vh;
  }

  &-light {
    --focus-ring: #{$color-kickpush-white-focus-ring};

    background: $color-kickpush-black;
    color: $color-kickpush-white;
  }

  &-dark {
    --focus-ring: #{$color-kickpush-black-focus-ring};

    background: $color-kickpush-white;
    color: $color-kickpush-black;
  }
}
