@use "sass:math";

@import "../../sass/global";

.Background {
  background-color: transparent;

  &-desktop {
    @include max-width($bp-mobile) {
      display: none;
    }
  }

  &-mobile {
    @include min-width($bp-mobile) {
      display: none;
    }
  }
}
